<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis 支持namespace与接口名称绑定 -->
<mapper namespace="com.DynamicSqlMapper">
    <select id="getEmployeeById" resultType="com.Employee">
        select id, last_name lastName, email, gender
        from employee
        where id = #{id}
    </select>

    <!-- 测试 mapUnderscoreToCamelCase 为true-->
    <select id="getEmployeeById2" resultType="com.Employee">
        select *
        from employee
        where id = #{id}
    </select>

    <!-- 测试默认别名, 别名不区分大小写 Employee和employ都可以-->
    <!--<select id="testDefaultAlias" resultType="Employee">
        select *
        from employee
        where id = #{id}
    </select>-->


    <!-- 在类上使用@Alias("employeeAlias")指定别名 -->
    <select id="testSpecifiedAlias" resultType="employeeAlias">
        select *
        from employee
        where id = #{id}
    </select>

</mapper>
