<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.dao.mapper.DepartmentMapper">

    <select id="getDeptById" resultType="com.mybatis.entity.Department">
         select id, department_name name from department t where t.id=#{id}
    </select>

    <!--嵌套结果集关联查询-->
    <resultMap id="deptWithEmps" type="com.mybatis.entity.Department">
        <id column="did" property="id"/>
        <result column="department_name" property="name"/>
        <!--
        定义集合类型的属性
        ofType:指定集合里面的元素类型
        -->
        <collection property="emps" ofType="com.mybatis.entity.Employee">
            <id column="id" property="id"/>
            <result column="last_name" property="lastName"/>
            <result column="email" property="email"/>
            <result column="gender" property="gender"/>
        </collection>
    </resultMap>


    <select id="getDeptById2" resultMap="deptWithEmps">
		SELECT d.id did, d.department_name, e.id, e.email, e.gender, e.last_name, e.department_id
        FROM department d
	    LEFT JOIN employee e ON e.department_id = d.id
        WHERE d.id = #{id}
    </select>


    <!--
    分步查询部门下的员工信息
    1.先查询出部门信息
    2.再根据部门ID查询出员工信息
    -->
    <resultMap id="deptWithEmpsByStep" type="com.mybatis.entity.Department">
        <id column="id" property="id"/>
        <result column="department_name" property="name"/>
        <!--
        column="id":指定传入select中方法的参数，此参数来自于第一个方法“getDeptByIdStep”中查询的结果集里面
        多个参数时column={key1=value1,key2=value2} key要和也分步查询方法里面的参数名称保持一致
        javaType:返回结果集的类型
        fetchType: 即使全局打开了延时加载，也可以指定针对此关联查询是否要进行延时加载，
                   eager：立即加载，lazy:延时加载
        -->
        <collection property="emps" select="com.mybatis.dao.mapper.EmployeeMapper.getEmployeeByDeptId" column="id"
                    javaType="List" fetchType="lazy"/>
    </resultMap>
    <select id="getDeptByIdStep" resultMap="deptWithEmpsByStep">
        select * from department t where t.id=#{id}
    </select>

</mapper>
